<div class="checkoutContainer">

  <div class="singleProductBox" *ngFor="let product of cartList">
    <div class="productImageFrame">
        <img src="{{ product.imageUrl }}" alt="">
    </div>
    <div class="productInfoBox">
        <p>{{ product.name }}</p>
        <p>Antal: {{ product.amount }}</p>
        <p>{{ product.price * product.amount }} kr</p>
        <p class="removeProduct" (click) = "removeProduct(product.id)">Remove</p>
    </div>
  </div>

  <button (click)="postOrder()">Send order</button>
  
</div>


