.checkoutContainer{
    padding-top: 6rem;
    background-color: #292C33;
    color: white;
    font-family: Raleway, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.emptyCartText{
    text-align: center;
}

.singleProductBox{
    position: relative;
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    justify-content: space-between;

    p{
        margin-top: 0;
    }
}

.productImageFrame img{
    width: 100%;
    height: auto;
}

.productImageFrame{
    height: 20rem;
    width: 12rem;
    overflow: hidden;
}

.flexSibling{
    width: 17rem;
}

.productInfoBox{
    width: 17rem;
}

.removeProduct:hover{
    text-decoration: underline;
    cursor: pointer;
}

.checkoutMenu{
    background-color: white;
    background-color: #15161A;
    border: 1px solid white;
    padding: 2rem;
    //box-sizing: border-box;
    border-radius: 1rem;
    //width: 15rem;
    //height: 20rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    input{
        display: block;
        margin: 0 auto 1rem auto;
        width: 11.5rem;
        height: 1.5rem;
        border-radius: 0.3rem
    }

    select{
        width: 12rem;
        height: 2rem;
    }

    p{
        font-size: 1.5rem;
        text-align: center;
    }

    button{
        display: block;
        margin: 0 auto;
        background-color: #15161A;
        color: white;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
    }

    button:hover{
        text-decoration: underline;
    }

    button[disabled]{
        color: grey;
        border-color: grey;
    }

    button[disabled]:hover{
        text-decoration: none;
    }
}