nav{
    width: 100vw;
    height: 5rem;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

h1{
    margin-top: 0.5rem;
    color: white;
}

.searchContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 15rem;
}

.categoriesAdminCartContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    height: 2rem;

}