nav{
    width: 100vw;
    height: 5rem;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}

h1{
    margin-top: 0.5rem;
    color: white;
}

.searchContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 15rem;
}

.categoriesAdminCartContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    height: 2rem;

}

.cartButton{
    background-color: white;
}

:host {
    background-color: yellow;
 }

 :host {
    /deep/ app-cart {
       background-color: yellow;
    }
}