<main class="productDetailContainer">

  <h2>
    {{ singleProduct?.name }}
  </h2>

  <div class="singleProductBox">

    <div class="imageFrame">
      <img src="{{ singleProduct?.imageUrl }}" alt="{{ singleProduct?.name }}">
    </div>

    <div class="productDescriptionSelectBox">

      <!--<p class="productDescription"><span class="productQuote">´´</span> {{ singleProduct?.description }} <span class="productQuote">``</span></p>-->

      <blockquote>{{ singleProduct?.description }}</blockquote>
      <p>Price: {{ singleProduct?.price }} kr</p>
      <div class="productSelectBox">
        <select [(ngModel)]="selectedQuantityString">
          <option *ngFor="let quantity of quantityList" [value]="quantity">{{ quantity }}</option>
        </select>
        

        <button (click)="addToCart()">Add to cart</button>
      </div>

  </div>

</div>

</main>


