<div class="cartContainer" (mouseover)="showCart()" (mouseleave)="hideCart()">

  <button class="dropdownButton">Cart {{ productAmount }}</button>
  <div class="dropdownContainer" [class.dropdownContainerHover]="isHoveredOver">
    <h2>Cart</h2>
    <div class="cartProductsContainer">
      <p *ngIf="!productAmount">Your cart is empty</p>
      <div class="cartSingleProductBox" *ngFor="let product of cartList">

        <div class="productFlexBox">

          <div class="productImageFrame"><img src="{{ product.imageUrl }}" alt=""></div>
          <div class="productInfoBox">
            <p>{{ product.name }}</p>
            <p>Antal: {{ product.amount }}</p>
          </div>
          <div class="productPriceBox">
            <p>{{ product.price * product.amount }} kr</p>
            <p class="removeProduct" (click) = "removeProduct(product.id)">Remove</p>
          </div>

        </div>

        <hr>

      </div>
    </div>
    <div class="cartMenuBox">
      <p>Total:</p>
      <button (click)="goToCheckout()">Go to checkout</button>
    </div>
  </div>

</div>

