.cartContainer{
  position: relative;
  display: inline-block;
}

#cartIcon{
  height: 2rem;
  width: 2rem;
}

#productAmountText{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  margin: -3px -7px 0 0;
  line-height: 22px;
}

.dropdownButton {
  position: relative;
  height: 2rem;
  background-color: #1B1D21; 
}

.dropdownContainer {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  position: absolute;
  background-color: grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  //border: 1px solid lightgrey;
  background-color: #1B1D21;
  color: white;

  h2{
    text-align: center;
  }
}

/*
.cartContainer:hover .dropdownContainer {
  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  overflow: visible;
  right: 0rem;
  width: 25rem;
}
*/

.dropdownContainerHover {
  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  overflow: visible;
  right: 0rem;
  width: 25rem;
  border: 1px solid grey;
}

/*
.cartContainer:hover .dropdownButton {
    background-color: #3e8e41;
  }
*/

.cartProductsContainer{
  max-height: 30rem;
  overflow: scroll;
  background-color: #292C33;
  width: 24rem;
  margin: 0 auto;
  //color: black;
}

.emptyCartText{
  text-align: center;
}

.cartSingleProductBox{
  hr{
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    border: 0;
    height: 1px;
  }
}

.productFlexBox{
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  p{
    margin-top: 0;
  }
}

.productImageFrame {
  width: 7rem;
  height: 10rem;
  overflow: hidden;
}

.productImageFrame img{
  object-fit: cover;
  height: 100%;
  width: auto;

}

.productInfoBox{
  width: 10rem;
  height: 10rem;
}

.productPriceBox{
  position: relative;
  width: 5rem;
  height: 10rem;

  .removeProduct{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
  }
}

.totalPriceText{
  font-size: 1.5rem;
}

.cartMenuBox{
  height: 10rem;
  text-align: center;

  button{
    height: 4rem;
    width: 24rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}