.cartContainer{
    background-color: pink;
    position: relative;
    display: inline-block;
}

.dropdownButton {
    height: 2rem;
}

.dropdownContainer {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  h2{
    text-align: center;
  }
}

.cartContainer:hover .dropdownContainer {
  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  overflow: visible;
  right: 0rem;
  width: 25rem;
}

.cartContainer:hover .dropdownButton {
    background-color: #3e8e41;
  }

.cartProductsContainer{
  max-height: 30rem;
  overflow: scroll;
}

.cartSingleProductBox{
  hr{
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    border: 0;
    height: 1px;
  }
}

.productFlexBox{
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  p{
    margin-top: 0;
  }
}

.productImageFrame {
  width: 7rem;
  height: 10rem;
  overflow: hidden;
}

.productImageFrame img{
  object-fit: cover;
  height: 100%;
  width: auto;

}

.productInfoBox{
  width: 10rem;
  height: 10rem;
}

.productPriceBox{
  position: relative;
  width: 5rem;
  height: 10rem;

  .removeProduct{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }
}